*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: Plus Jakarta Sans, system-ui, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

svg {
    width: 30px;
    height: 20px;
}

img {
    object-fit: cover;
}

.logo {
    border-radius: 14px;
    background: linear-gradient(to bottom right, #5eb1c1, #e58249 88%);
    width: 55px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    >div {
        >svg {
            width: 30px;
            height: 30px;
            color: white;
            cursor: pointer;

        }
    }

    >span {
        font-size: 23px;
        color: white;
        text-transform: uppercase;
        font-family: head;
        letter-spacing: 2px;
        cursor: pointer;
    }
}